.container {
  padding: 20px;
}

.btn {
  font-size: 18px;
  padding: 0 10px 10px 10px;
  margin: 0;
  background-color: transparent;
  border-style: none;
  // border-bottom: 1px solid black;
  cursor: pointer;
  text-decoration-line: underline;
}
.wrapper {
  display: flex;
  margin-bottom: 20px;
}

.info {
  margin-left: 20px;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.genres_list {
  display: flex;
}
.genres_item:not(:last-child)::after {
  content: ',';
  margin-right: 10px;
}

.additional_list {
  display: flex;
  gap: 20px;
}
.additional_item {
  margin: 20px 0;
  padding: 10px;
  background-color: rgba(88, 88, 88, 0.332);
  border-radius: 5px;
}
