.btn {
  font-size: 18px;
  margin: 10px 0;
  background-color: transparent;
  border-style: none;
  // border-bottom: 1px solid black;
  cursor: pointer;
  text-decoration-line: underline;
}

.item {
  margin: 10px 0;
}
