.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  width: 295px;
  height: 400px;
  padding-bottom: 50px;
  transition: 500ms scale;
  &:hover {
    scale: 1.05;
  }
}

.title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.img {
  width: 100%;
  height: 100%;
}
