.form {
  position: relative;
  margin: 0 auto;
  padding: 20px 0;
  width: 240px;
  height: 36px;
}

.input {
  width: 200px;
  height: 30px;
  font-size: 18px;
  padding-inline-end: 34px;
  &::placeholder {
    font-size: 14px;
  }
}

.btn {
  background-color: transparent;
  border-style: none;
  position: absolute;
  top: 50%;
  left: 86%;
  transform: translate(0, -50%);
  padding: 10px;
  cursor: pointer;
}
